.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.IsOnline{
    padding-right: 18px;
    border-radius: 100%;
    background-color: green;
    color: green;
}
.item{
    display: flex;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); 
    align-items: center;
    width: 400px;
    background-color: GhostWhite;
}
.item:not(:last-child){
    margin-bottom: 10px;
}
.item:last-child{
    margin-bottom: 30px;
}
.IsOffline{
    padding-right: 18px;
    border-radius: 100%;
    background-color: red;
    color:red;
}
.image{
    margin-right: 10px;
    margin-left: 10px;
}